@model Ventas.Models.Category

@{
    ViewBag.Title = "Detalles";
}

<h3>Detales de la categoria</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID },new { @class = "btn btn-success"}) |
    @Html.ActionLink("Volver a la listas", "Index", null, new { @class="btn btn-secondary"})
</p>
